* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    background-color: #00cf96;
}

#container-logo h1{
    color: #007455;
    cursor: pointer;
    font-size: 64px;
}

#container-login-logon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    gap: 32px;
}

.container-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 64px;
    border-radius: 20px;
    min-height: 400px;
    min-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 10px 30px;
    transition: 0.5s ease;
}

.container-formulario:hover{
    transform: scale(1.03);
}

#formulario-cadastro{
    display: none;
}

h1{
    margin: 0;
    color: rgb(68, 68, 68);
}

.container-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin: 32px;
}

input{
    width: 100%;
    /* height: 16px; */
    background-color: rgb(240, 240, 240);
    border: solid 1px grey;
    border-radius: 8px;
    padding: 12px;
}

input::placeholder {
  color: black;
}

.botao-confirmar{
    width: 100%;
    /* height: 16px; */
    background-color: #00926a;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    color: white;
    transition: 0.3s ease;
}

.botao-confirmar:hover{
    background-color: #00a87b;
    color: white;
}

p{
    margin-top: 28px;
    margin-bottom: 8px;
}

.botao-seletor{
    background-color: #00926a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botao-seletor:hover{
    background-color: #00a87b;
    color: #ffffff;
}

