* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  background-color: whitesmoke;
}

header {
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #2C3E50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px 0px 32px;
  z-index: 100;
}

header .logo {
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.campo-pesquisa{
  display: flex;
  gap: 0;
  width: 32%;
  max-width: 700px;
}

header .input-pesquisa {
  height: 32px;
  width: 100%;
  padding: 8px;
  background-color: whitesmoke;
  border: solid #4A90E2 1px;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
  outline: none;  /* Remove a borda do foco */
}

header .input-pesquisa::placeholder{
  color: grey;
  font-size: 14px;
}

.botao-pesquisar{
  background-color: #4A90E2;
  color: whitesmoke;
  height: 32px;
  width: 64px;
  border: solid #4A90E2 1px;
  border-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.botao-pesquisar:hover{
  background-color: #4e98ed;
}

header .avatar-usuario {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #4A90E2 2px;
  font-size: 24px;
  font-weight: medium;
  cursor: pointer;
}

.campo-usuario-cabecalho{
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.botao-anunciar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: solid 1px #4A90E2;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: #4A90E2;
  color: white;

}

.botao-anunciar:hover{
  background-color: #4e98ed;
}

/* Estilo geral do container de anúncios */
.container-anuncios {
  display: flex;                /* Muda para flexbox */
  flex-wrap: wrap;              /* Permite que os itens que não couberem vão para a próxima linha */
  padding: 32px 64px;
  gap: 32px;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;
}

/* Estilo do anúncio */
.anuncio {
  background-color: #fff; /* Fundo branco para cada anúncio */
 
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0px; /* Espaçamento interno */
  display: flex;
  flex-direction: column; /* Coloca a imagem e as informações lado a lado */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center; /* Alinha verticalmente os itens */
  width: 500px;
  min-height: 400px;
  cursor: pointer;
  
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Efeito de hover para o anúncio */
.anuncio:hover {
  /* transform: translateY(-8px); Levanta o anúncio levemente */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.20);
  /* border: solid 1px #4A90E2; */
  transition: 0.3s ease;
}

.imagem-anuncio {
  width: 100%; /* Limita a largura da imagem */
  height: 250px; /* Limita a altura da imagem */
  object-fit: cover; /* Cobre o espaço sem distorcer */
  background-color: rgb(157, 157, 157);
}

/* Container da imagem */
.imagem-anuncio img {
  width: 100%; /* Limita a largura da imagem */
  height: 100%; /* Limita a altura da imagem */
  object-fit: cover; /* Cobre o espaço sem distorcer */
}

/* Estilo das informações do anúncio */
.informacoes-anuncio {
 height: 100%;
 width: 100%;
 padding: 20px;
 max-width: 100%;
 display: flex;
 flex-direction: column;
 gap: 10px;
 overflow: hidden;
}

.informacoes-anuncio p {
  font-size: 14px; /* Diminuir o tamanho da fonte */
  color: gray; /* Deixar o texto na cor cinza */
  display: flex; /* Usar flexbox para alinhar o ícone e o texto */
  align-items: center; /* Alinhar o texto e o ícone no centro */
}

.informacoes-anuncio i {
  margin-right: 8px; /* Adicionar um pequeno espaçamento entre o ícone e o texto */
  color: gray; /* Definir a cor do ícone como cinza */
}


/* Título do anúncio */
.anuncio h3 {
  font-weight: light;
  font-size: 1.1rem;
  color: #333; /* Cor escura para o título */
  margin: 0;
  font-weight: 500;
}


/* Preço do anúncio */
.anuncio p:last-child {
  font-size: 1rem;
  font-weight: light;
  color: #505050; /* Cor azul para o preço */
}

/* Botão de "Ver mais" */
.anuncio button {
  background-color: #2d9cdb; /* Cor de fundo azul */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Efeito de hover no botão */
.anuncio button:hover {
  background-color: #1a7ab9; /* Cor mais escura ao passar o mouse */
}

.imagem-anuncio img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Faz a imagem preencher a div sem deformar */
      object-position: center; /* Centraliza a imagem */
      width: 100%;
     transition: transform 0.5s ease;
    }

.anuncio:hover .imagem-anuncio img {
    transform: scale(1.05);  /* Aumenta a imagem 10% */
}

.titulo-pagina{
  color: rgb(170, 170, 170);
  font-weight: 400;
  font-size: 28px;
}


