*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  height: 64px;
  width: 100%;
  background-color: #2C3E50; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.container-usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.avatar-usuario{
  background-color:whitesmoke;
  border: solid #4A90E2 4px;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;
}

.container-usuario h1{
  color: #2C3E50;
  font-weight: 500;
  
}

.container-anuncios{
  border: solid rgb(175, 175, 175) 1px;
  border-radius: 8px;
  min-height: 74px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 28px 32px 28px;
  cursor: pointer;
}

.container-anuncios h2{
  font-weight: 500;
}

.container-anuncios p{
  color: rgb(68, 68, 68);
}

.container-anuncios:hover{
  background-color: whitesmoke;
}

.container-informacoes{
  border: solid rgb(175, 175, 175) 1px;
  border-radius: 8px;
  min-height: 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  overflow: hidden;
}

.container-informacoes .cabecalho{
  /* margin-bottom: 12px; */
  padding: 28px 28px 32px 28px;
}

.container-informacoes h2{
  font-weight: 500;
}

.container-informacoes p{
  color: rgb(68, 68, 68);
}

.campo{
  border-top: solid rgb(175, 175, 175) 1px ;
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 28px 0px 28px;
  cursor: pointer;
}

.campo h3{
  font-weight: 600;
  color: rgb(107, 107, 107);
}

.campo h1{
  color: rgb(107, 107, 107);
}

.campo:hover{
  background-color: whitesmoke;
}

.campo div{
  display: flex;
  flex-direction: row;
}

#botao-sair{
  padding: 8px;
  width: 10%;
  background-color: grey;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}

#botao-sair:hover{
  background-color: rgb(212, 38, 38);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

/* Conteúdo do Modal */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-field{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Estilo para o botão de fechar */
.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo para os campos do modal */
.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal input{
  padding: 8px;
  border: solid 1px gray;
  border-radius: 8px;
  width: 80%;
}

.modal h2{
  margin-bottom: 16px;
  align-self: center;
  color: rgb(68, 68, 68);
}
.modal button{
  padding: 12px;
  width: 20%;
  border: none;
  border-radius: 8px;
  background-color: #00cf96;
  color: white;
  cursor: pointer;
  background-color: #00926a;
  transition: 0.3s ease;
}

.modal button:hover{
  background-color: #00a87b;
}

/* ======================================================= */
header {
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #2C3E50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px 0px 32px;
  z-index: 100;
}

header .logo {
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke; 
  cursor: pointer;
}

.campo-pesquisa{
  display: flex;
  gap: 0;
  width: 32%;
  max-width: 700px;
}

header .input-pesquisa {
  height: 32px;
  width: 100%;
  padding: 8px;
  background-color: whitesmoke;
  border: solid #4A90E2 1px;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
}

header .input-pesquisa::placeholder{
  color: grey;
  font-size: 14px;
}

.botao-pesquisar{
  background-color: #00926a;
  color: whitesmoke;
  height: 32px;
  width: 64px;
  border: solid #007455 1px;
  border-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.botao-pesquisar:hover{
  background-color: #00a87b;
}

header .avatar-usuario {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid #4A90E2 2px;
  font-size: 24px;
  font-weight: medium;
  cursor: pointer;
}

.campo-usuario-cabecalho{
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.botao-anunciar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid 1px #4A90E2;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  background-color: #4A90E2;
  color: white;

}

.botao-anunciar:hover{
  background-color: #4e98ed;
}

.titulo-pagina{
  color: rgb(170, 170, 170);
  font-weight: 400;
  font-size: 28px;
  margin: 32px 0;
}

.logo img {
  height: 48px;  /* Define o tamanho da logo */
  width: auto;   /* Mantém a proporção da logo */
}

.logo:hover {
  opacity: 0.8;
}

header .logo {
  font-size: 48px;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}