*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

header{
  height: 100px;
  width: 100%;
  background-color: #00cf96;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  font-size: 48px;
  font-weight: bold;
  color: #007455;
  cursor: pointer;
}

.container-usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 64px 0px 64px 0px;
}

.container-usuario h1{
  color: rgb(68, 68, 68);
}

.avatar-usuario{
  background-color:whitesmoke;
  border: solid #007455 4px;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;
}

.campo-anuncios{
  border: solid rgb(175, 175, 175) 1px;
  border-radius: 8px;
  min-height: 74px;
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 28px 32px 28px;
  margin-bottom: 32px;
  cursor: pointer;
}

.campo-anuncios h2{
  font-weight: 500;
}

.campo-anuncios p{
  color: rgb(68, 68, 68);
}

.campo-anuncios:hover{
  background-color: whitesmoke;
}

.campo-informacoes{
  border: solid rgb(175, 175, 175) 1px;
  border-radius: 8px;
  min-height: 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.campo-informacoes .cabecalho{
  /* margin-bottom: 12px; */
  padding: 28px 28px 32px 28px;
}

.campo-informacoes h2{
  font-weight: 500;
}

.campo-informacoes p{
  color: rgb(68, 68, 68);
}

.campo{
  border-top: solid rgb(175, 175, 175) 1px ;
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 28px 0px 28px;
  cursor: pointer;
}

.campo h3{
  font-weight: 600;
}

.campo h3, h1{
  color: rgb(107, 107, 107);
}

.campo:hover{
  background-color: whitesmoke;
}

.campo div{
  display: flex;
  flex-direction: row;
}

/* fazer div .conteiner-conteudo que engloba tudo */