* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
}

.left {
    background-color: #00c08b;
    width: 40%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    color: #004c39;
    font-size: 32px;
    font-weight: bold;
}

.logo{
    position: fixed;
    font-size: 60px     ;
}

.right {
    background-color: #fff;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #00c08b;
}

input[type="file"] {
    padding: 5px;
}

input[type="submit"] {
    background-color: #00c08b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #009f75;
}
